<h2><%= @article.title %></h2>
<h3><%= @article.content %></h3>
<%= link_to 'actualizar', edit_article_path(@article)%>
<%= link_to 'Eliminar', article_path(@article), method: :delete, data:{confirm: "seguro de eliminar?"} %>
<%= link_to 'Volver al inicio', articles_path %>